
services:
    nginx-archesher:
      container_name: nginx-archesher
      image: nginx:latest
      ports:
        - "8080:80"
      volumes:
        - ./docker/nginx-config/default.conf:/etc/nginx/conf.d/default.conf
      networks:
        - archesher-network

    db-archesher:
      container_name: db-archesher
      image: postgis/postgis:14-3.2
      volumes:
        - postgres-data-afher11:/var/lib/postgresql/data
        - postgres-log-afher11:/var/log/postgresql
        - ./docker/init-unix.sql:/docker-entrypoint-initdb.d/init.sql # to set up the DB template
      ports:
        - '5433:5432'
      env_file: 
        - ./docker/env_file.env
      networks:
        - archesher-network

    elasticsearch-archesher:
      container_name: elasticsearch-archesher
      image: docker.elastic.co/elasticsearch/elasticsearch:8.19.11
      #platform: linux/arm64
      volumes:
        #- ../../elasticsearch_data_arches_her:/usr/share/elasticsearch/data
        - elasticsearch-data-afher11:/usr/share/elasticsearch/data
      ports:
        - "9201:9200"
        - "9301:9300"
      env_file: 
        - ./docker/env_file.env
      networks:
        - archesher-network

    rabbitmq-archesher:
      container_name: rabbitmq-archesher
      image: rabbitmq:3.12.6-management
      hostname: my-rabbit
      volumes:
        - rabbitmq-data-afher11:/var/lib/rabbitmq/mnesia/rabbit@my-rabbit
        - rabbitmq-logs-afher11:/var/log/rabbitmq/log
      ports:
        - 5673:5672
        - 15673:15672
      networks:
        - archesher-network


networks:
  archesher-network:
    name: archesher-network
    driver: bridge

volumes:
    postgres-data-afher11:
    postgres-log-afher11:
    elasticsearch-data-afher11:
    rabbitmq-logs-afher11:
    rabbitmq-data-afher11:
